<script>
  $(document).on("click", "#detalles", () => {
    $('#Modal-ejemplo').modal({backdrop: 'static'})
  })
</script>
{{> navbar}}
<style>
  body {
    background: white;
  }
</style>
<div class="cuenta container">
<h1 class="text-center text-decoration-underline mt-5">Mi perfil</h1>
  <div class="row">

		{{!-- Sección de datos personales --}}
    <div class="col-12 col-lg-6 p-5">
			<div class="d-flex justify-content-between mt-5">
				<h2 class="fs-4">Datos personales</h2>
				<a class="link-dark" href="/editar-perfil">Editar</a>
			</div>      
			<div
        class="datos-personales  py-4"
      >
        {{#Usuarios}}
          <h3 class="fs-5 pb-4"><b>Usuario</b>: {{nombre}} {{apellido}}</h3>
          <h3 class="fs-5 pb-4"><b>Correo</b>: {{email}}</h3>
          <h3>Id de usuario: {{id_usuario}}</h3>
          <div class="row">
            <div class="col-5">
					  <a class="link-dark fs-5" href="/logout">Desconectarse</a>
            </div>
            <div class="col-5 text-end">
              <a class="link-dark fs-5" href="/lista">Lista de usuarios</a>
            </div>
          </div>
        {{/Usuarios}}
      </div>
    </div>
		{{!-- Fin de sección de datos personales --}}

		{{!-- Sección de campras realizadas --}}
    <div class="col-12 col-lg-6 p-5 mt-5 mt-lg-0">
      <h2 class="mt-5 fs-4 text-center">Compras realizadas</h2>
      <div
        class="compras-realizadas text-center py-4"
      >
        {{!-- Esto aparece cuando no hay productos comprados, ni idea sino, preguntar a la patrona --}}
        <div class="sin-compras">
          {{!-- Ícono --}}
          <iconify-icon
            icon="el:shopping-cart"
            style="color: rgb(127, 127, 127);"
            width="60"
          ></iconify-icon>
          <br />
          {{!-- Link hacia productos --}}
          <a href="/productos" class="btn btn-primary my-3">Ir a la tienda</a>
        </div>
				{{!-- Sección de compras realizadas con un producto --}}
        {{#each order}}
				<div class="compras-finalizadas p-3 mb-3">

          {{!-- Nombre de la compra --}}
          <div class="row">
            <div class="col-7">
              <h3 class="fs-5 text-start">Orden n°{{id_orden}} id-usuario: {{id_usuario}}</h3>
            </div>
            <div class="col-5 text-end">
            <form action="/delete/{{id_orden}}" method="post">
              <button type="submit" style="border: none;">
                <iconify-icon icon="material-symbols:delete-outline-sharp" class="btn btn-success rounded-circle" width="30" style="color: white;width: 50px; height: 50px; PADDING: 10px;"></iconify-icon>
              </button>    
            </form>
            </div>
          </div>
					{{!-- Precio de la compra --}}
          <p class="fs-5 text-start">${{total}}</p>
					<div class="d-flex justify-content-between">
						<span>
              {{estado}}
              {{# if ../res.locals.userAdmin}}
              <form action="/estado/{{id_orden}}" method="post">         
                <select class="form-select d-block w-100 mb-2" name="estado"
                required="">
                  <option value="">Elegir categoría...</option>
                  <option value="Finalizado">Finalizo</option>
                  <option value="En Proceso">Proceso</option>
                </select>
                <button type="submit" class="btn btn-secondary">Enviar</button>
              </form>
              {{/if}}
            </span>

            {{!-- Botón modal --}}
						<a class="link-dark" id="detalles" data-id="{{id_orden}}" href="" data-bs-toggle="modal" data-bs-target="#Modal-ejemplo">Ver detalles</a>
					</div>
				</div>
        {{/each}}

        {{!-- Modal --}}
        <div class="modal fade" id="Modal-ejemplo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              {{!-- Header del modal --}}
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Compras realizadas</h1>
              </div>
              {{!-- Contenido principal del modal --}}
              <div class="modal-body text-start">
              
              </div>
              {{!-- Fin del contenido del modal --}}
              
              {{!-- Footer del modal --}}
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="limpiar()" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
        {{!-- Fin del modal --}}
				{{!-- Fin de la sección de compras realizadas con un producto --}}

    </div>
		{{!-- Fin de sección de compras realizadas --}}

  </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="scripts/orden-items.js"></script>

{{> footer}}

